{% extends "base.html" %}
{% block content %}
 <script type="text/javascript">
   function inputcheck() {
	   f = document.f;
 	   f.submit();
   }
</script>

<body>
<!-- First Grid -->
<div class="w3-twothird">
  <h1>회사별 합격 자소서</h1>
  <div id="container">
  <table>
    <tr>
      <td><input type="radio"  id="SS" name="company" value="SS"> 삼성전자(주)</a></td>
      <td><input type="radio"  id="SK" name="company" value="SK"> SK하이닉스(주)</a></td>
      <td><input type="radio"  id="GS" name="company" value="GS"> GS리테일</a></td>
    </tr>
    <tr>  
      <td><input type="radio"  id="HJ" name="company" value="HJ"> 한국전력공사</a></td>
      <td><input type="radio"  id="CJ" name="company" value="CJ"> CJ제일제당(주)</a></td>
      <td><input type="radio"  id="NH" name="company" value="NH"> NH농협은행</a></td>
    </tr>
    </div>       
  </table>
</div>
<script>
    var radios = document.querySelectorAll('input[type=radio][name="company"]');
    radios.forEach(radio => radio.addEventListener('change', () => document.querySelector('input[name="company1"]').value = radio.value));
    </script>
<font color="red">{{msg}}</font>
<form action="/board/company/" method="post" enctype="multipart/form-data">
<input type = "hidden" name="company1" value="">     
{% csrf_token %}

<!-- Second Grid -->
<div class="w3-light-grey w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div>
      <h1>내 자소서 분석하기</h1>
      <div>
       <div class="w3-col">
         <textarea class="w3-input w3-border" style="height: 400px; resize: none;" name="content" maxlength="5000"></textarea>
          <button class="w3-btn w3-round-xxlarge" onclick="location.href='#'">내 자소서 가져오기</button>
          <button class="w3-btn w3-round-xxlarge" id="submit" onclick="inputcheck()">분석하기</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>
</body>
{% endblock content %}
