{% extends "base.html" %}
{% block content %}
<input type = "hidden" name = "id1" value="{{b.id}}">
<table class="w3-table-all"><caption>게시물 상세 보기</caption>
<tr><th>제목</th><td style="text-align:left">{{b.subject}}</td></tr>
<tr><th>내용</th><td><table style="width:100%; height:250px;">
<tr><td style="border-width: 0px; vertical-align: top; text-align: left">
    {{b.content}}</td></tr></table></td></tr>
<tr><th>첨부파일</th><td>
   {% if b.file1 %}
         <a href="/file/board/{{b.file1}}">{{b.file1}}</a></td></tr>
    {% else %}&nbsp;
    {% endif %}
<tr><td colspan="2" class="w3-center">
  <a href="/board/update/{{b.num}}">[수정]</a>
  <a href="/board/delete/{{b.num}}">[삭제]</a>
  <a href="/board/list">[목록]</a></td></tr></table>
{% endblock content %}