{% extends "base.html" %}
{% block content %}
 <script type="text/javascript">
   function inputcheck() {
	   f = document.f;
 	   f.submit();
   }
</script>
<body>

<!-- First Grid -->
<div class="w3-twothird">
  <h1>직종별 합격 자소서</h1>
  <table>
    <tr>
      <td><input type="checkbox" name="job" value="IT"> <a href="#">IT/SW 개발</a></td>
      <td><input type="checkbox" name="job" value="sales"> <a href="#">영업/마케팅&nbsp</a></td>
      <td><input type="checkbox" name="job" value="production"> <a href="#">제조/생산&nbsp</a></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="job" value="IT"> <a href="#">개발/연구&nbsp</a></td>
      <td><input type="checkbox" name="job" value="sales"> <a href="#">요식업&nbsp</a></td>
      <td><input type="checkbox" name="job" value="production"> <a href="#">기타...&nbsp</a></td>
    </tr>
  </table>
</div>
<script>
  // 체크박스가 클릭되었을 때 이벤트 발생
  document.querySelectorAll('input[type=checkbox]').forEach(item => {
    item.addEventListener('click', event => {
      // 체크박스의 value 값을 가져옴
      console.log(item.value);
    });
  });
  </script>

<font color="red">{{msg}}</font>
<form action="/board/job/" method="post" enctype="multipart/form-data" name="f">
      
{% csrf_token %}

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1>내 자소서 분석하기</h1>
      <div class="w3-row-padding">
       <div class="w3-col m6 l12 w3-padding-large">
         <textarea class="w3-input w3-border" style="height: 400px; resize: none;" name="content" maxlength="5000"></textarea>
          <button class="w3-btn w3-round-xxlarge" onclick="location.href='#'">내 자소서 가져오기</button>
          <button class="w3-btn w3-round-xxlarge" onclick="inputcheck()">분석하기</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock %}
