{% extends "base.html" %}
{%block content %}
 <script type="text/javascript">
   function inputcheck() {
	   f = document.f;
 	   f.submit();
   }
</script>
<!-- file/board 폴더에 파일 업로드하기-->
<form action="/board/update/{{b.num}}/" method="post"  
      enctype="multipart/form-data" name="f">
{% csrf_token %}
<input type = "hidden" name = "num" value="{{b.num}}">
<input type = "hidden" name = "id" value="{{b.id}}">
<input type = "hidden" name = "file2" value="{{b.file1}}">
<table class="w3-table-all"><caption>게시판 수정 화면</caption>
 <tr><td>제목</td><td><input type="text" name="subject" value = "{{b.subject}}"
                  class="w3-input w3-border"></td></tr>
 <tr><td>내용</td><td><textarea rows="15" name="content"
    id="content" class="w3-input w3-border">{{b.content}}</textarea></td></tr>
 <tr><td>첨부파일</td><td><input type="file" name="file1">{{b.file1}}</td></tr>
 <tr><td colspan="2" class="w3-center">
   <a href="javascript:inputcheck()">[게시물등록]</a></td></tr>
</table></form>
{% endblock %}