<!DOCTYPE html>
<html>
<head>
<title>합격을 부르는 자소서</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.search-sidebar {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 20px;
  }
header {
  margin-right: 300px;
}
</style>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <header class="w3-container w3-large">
    <p class="w3-left w3-wide"><a href="#">합격을 부르는 자소서</a></p>
    <a href="#" class="w3-button w3-right"> <SMALL>회원정보확인</SMALL></a>
    <a href="#" class="w3-button w3-right"><SMALL>로그아웃</SMALL></a> 
    <a href="#"  class="w3-button w3-right"><SMALL>회원리스트</SMALL></a>     
  </header>
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">메인</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">직종</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">회사</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Q&A</a>
 	  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"><i class="fa fa-search"></i></a>
 	<a onclick="myAccFunc('Mypage2')" href="javascript:void(0)" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="Mypage">마이페이지<i class="fa fa-caret-down"></i></a>
<div id="Mypage2" class="w3-bar-block w3-hide">
	<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">회원정보수정</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">회원탈퇴</a>
</div>

  </div>  

  <!-- Navbar on small screens. 위와 동일하기 링크 연결 -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">직종</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">회사</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Q&A</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">마이페이지</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">합격을 부르는 자소서</h1>
  <p class="w3-xlarge">합격 자소서의 키워드를 분석해 나만의 합격 자소서를 만들자 </p>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="location.href='#'">자소서 분석하기</button>
</header>


<body>

<div class="search-sidebar">
<!-- 최근 검색어 -->
<div class="w3-card w3-margin w3-margin-top">
  <div class="w3-container w3-padding">
    <h4>최근 검색어</h4>
  </div>
  <ul class="w3-ul w3-hoverable w3-white">
    <li class="w3-padding-16">
      <span class="w3-large">검색어1</span><br>
      <span>2023-03-19</span>
    </li>
    <li class="w3-padding-16">
      <span class="w3-large">검색어2</span><br>
      <span>2023-03-18</span>
    </li>
    <li class="w3-padding-16">
      <span class="w3-large">검색어3</span><br>
      <span>2023-03-17</span>
    </li>
  </ul>
</div>
</div>


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>직종별 합격 자소서</h1>
      <h5 class="w3-padding-32"> <img src="logo.jpg" style="width:50%"> IT/소프트웨어 개발</h5>

      <p class="w3-text-grey">IT 소프트웨어 개발에 필요한 키워드는 다음과 같다. 어쩌구 저쩌구.</p>
    </div>

    <div class="w3-third w3-center">
      
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>

    <div class="w3-twothird">
      <h1>회사별 합격 자소서</h1>
      <div class="w3-row-padding">
        <div class="w3-col m6 l3 w3-padding-large">
          <img src="logo.jpg" style="width:100%">
          <h5 class="w3-padding-32"><a href="#">회사1</a></h5>
          <p class="w3-text-grey">최근 합격 자소서...</p>
        </div>
        <div class="w3-col m6 l3 w3-padding-large">
          <img src="logo.jpg" style="width:100%">
          <h5 class="w3-padding-32"><a href="#">회사2</a></h5>
          <p class="w3-text-grey">최근 합격 자소서...</p>
        </div>
        <div class="w3-col m6 l3 w3-padding-large">
          <img src="logo.jpg" style="width:100%">
          <h5 class="w3-padding-32"><a href="#">회사3</a></h5>
          <p class="w3-text-grey">최근 합격 자소서...</p>
        </div>
         <div class="w3-col m6 l3 w3-padding-large">
          <img src="logo.jpg" style="width:100%">
          <h5 class="w3-padding-32"><a href="#">회사4</a></h5>
          <p class="w3-text-grey">최근 합격 자소서...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">자소서 키워드를 분석 긍정/부정을 판단합니다.</h1>
</div>
</body>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-home w3-hover-opacity"><a href="#"></a></i> 
    <i class="fa fa-heart w3-hover-opacity"><a href="#"></a></i>
    <i class="fa fa-facebook-official w3-hover-opacity"><a href="#"></a></i>
    <i class="fa fa-instagram w3-hover-opacity"><a href="#"></a></i>
    <i class="fa fa-linkedin w3-hover-opacity"><a href="#"></a></i>
 </div>
 <p>Powered by team 2 kic project</a></p>
</footer>

<script>
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
