{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
   function inputcheck(f) {
	   if(f.pass.value == "") {
		   alert("비밀번호를 입력하세요")
		   f.pass.focus();
		   return false;
	   }
	   return true;
   }
</script>
<form action="/member/delete/{{id}}/" method="post" onsubmit="return inputcheck(this)">
{% csrf_token %}
<table>
   <caption>회원비밀번호 입력</caption>
   <tr><th>비밀번호</th>
       <td><input type="password" name="pass" /></td></tr>
   <tr><td colspan="2">
       <input type="submit" value="탈퇴하기" /></td></tr>
</table></form>
{% endblock content %}