{% extends "base.html" %}
{% block title %}로그인 {% endblock title %}
{% block content %}
<font color="red">{{msg}}</font>
<form action="/member/login/" method="post" name="f">
{% csrf_token %}
<table class="w3-bordered"><caption>로그인</caption>
<tr><th>아이디</th><td><input type="text" name="id"></td></tr>
<tr><th>비밀번호</th><td><input type="password" name="pass"></td></tr>
<tr><td colspan="2"><input type="submit" value="로그인">
    <input type="button" value="회원가입" onclick="location.href='/member/join/'">
   </td></tr>
</table>
</form>
{% endblock content %}
