{% extends "base.html" %}
{% block content %}
 {% if request.session.login %}
<div class="w3-panel w3-card">
     <h3>{{request.session.login}} 로 로그인 되었습니다.</h3>
     <h3><a href="/member/logout/">로그아웃</a></h3>
     <h3><a href="/member/info/{{request.session.login}}">회원정보보기</a></h3>
    
     {% if request.session.login == 'admin' %}
       <h3><a href="/member/list/">회원목록 보기</a></h3>
     {% endif %}
     </div>
     
   {% else %} {#로그인이 안된경우}
     <script>
       location.href='/member/login'
     </script>
     
   {% endif %}  
{% endblock %}