<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원사진 등록</title>
<link rel="stylesheet" href="/static/css/main.css">
</head><body>
<h3>사진업로드</h3>
<table><tr><td>
  <img id="preview" src=""></td></tr>
<tr><td>
<form action="/member/picture/" method="post" 
      enctype="multipart/form-data">
  {%  csrf_token  %}
  <input type="file" name="picture" id="imageFile" 
         accept="img/*">
  <input type="submit" value="사진등록">
</form></td></tr></table>
<script type="text/javascript">
let imagefile = document.querySelector('#imageFile'); //input file 태그
let preview = document.querySelector('#preview');     //img 태그
// imagefile 태그의 onchange 이벤트 발생 등록.
// onchange : 선택된 파일이 달라진 경우
imagefile.addEventListener('change', function(e) {
  let get_file = e.target.files;  //선택된 이미지 파일
  let reader = new FileReader();  //파일읽기 위한 스트림.
  reader.onload = (function (Img) {  //Img:이미지 태그
    return function(e) {
	  Img.src = e.target.result;
    }
  })(preview);
  if(get_file){   reader.readAsDataURL(get_file[0]);  }
});
</script></body></html>